/* style.css */

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* 화면 전체 스크롤바 제거 */
}

#blocklyDiv {
    height: 100%;
    width: 70%; /* 브라우저 창의 좌측 50%를 차지하도록 설정 */
    float: left; /* 왼쪽 정렬 */
}

#codeArea {
    height: 100%;
    width: 30%; /* 나머지 50%를 차지하도록 설정 */
    float: right; /* 오른쪽 정렬 */
    overflow: auto; /* 내용이 넘치면 스크롤바 생성 */
    border-left: solid 1px #ccc; /* 좌측 경계선 추가 */
    padding: 10px; /* 패딩 추가 */
    box-sizing: border-box; /* 패딩을 너비에 포함 */
}
/* 
.hide-category {
    display: none;
} */